@model SimDomesticUnitViewModel


@if (Model.CurrentDomesticUnitName != null)
{
    <div class="margin">
        <p>@Model.Sim.Name currently lives in @Model.CurrentDomesticUnitName</p>
    </div>
}
@using (Html.BeginForm("ChooseDomesticUnit", "Sim", FormMethod.Post, new { id = "simDomesticUnit" }))
{
    <div class="form-group margin">
        @Html.LabelFor(p => p.DomesticUnitID)
        @Html.DropDownListFor(p => p.DomesticUnitID, new SelectList(Model.DomesticUnits, "DomesticUnitID", "Name"), new { @class = "form-control" })
    </div>

    @Html.HiddenFor(p => p.Sim.SimID)
    @Html.HiddenFor(p => p.Sim.Name)
    @Html.HiddenFor(p => p.Sim.LastName)
    @Html.HiddenFor(p => p.Sim.Gender)
    @Html.HiddenFor(p => p.Sim.Money)
    @Html.HiddenFor(p => p.Sim.LifeStage)


    <button type="submit" class="btn btn-primary">Accept</button>
    <a asp-action="Profile" asp-route-id="@Model.Sim.SimID" class="btn btn-secondary">Cancel</a>

}
