@model IEnumerable<PetType>
@{
    ViewBag.Title = "All Pet Types";
    Layout = "_AdminLayout";

}
<table class="table table-striped table-bordered table-sm">
    <tr>
        <th class="text-right">ID</th>
        <th>Name</th>
        <th>Description</th>
        <th class="text-center"></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-right">@item.TypeID</td>
            <td>@item.Name</td>
            <td>@item.Description</td>

            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-TypeID="@item.TypeID">
                        Edit
                    </a>
                    <input type="hidden" name="TypeID" value="@item.TypeID" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Type</a>
</div>