@model IEnumerable<Place>
@{
    ViewBag.Title = "All Places";
    Layout = "_AdminLayout";

}
<table class="table table-striped table-bordered table-sm">
    <tr>
        <th class="text-right">ID</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Description</th>
        <th class="text-center"></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-right">@item.PlaceID</td>
            <td>
                <a class="nav-link" asp-controller="Place" asp-action="Profile" asp-route-id="@item.PlaceID">@item.Name</a>
            </td>
            <td>@item.Cost</td>
            <td>@item.Description</td>

            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-PlaceID="@item.PlaceID">
                        Edit
                    </a>
                    <input type="hidden" name="PlaceID" value="@item.PlaceID" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Place</a>
</div>